{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h1>About Paul</h1>

<img src="/img/portrait.jpg">

<h2>Short story</h2>

<p>Paul Smith is a computer programmer and cofounder of 
<a href="http://www.everyblock.com/">EveryBlock</a>. He lives in
Baltimore, MD.
</p>

<h2>Long story</h2>

<p>Paul was born on the eastern shore of Maryland, and grew up
surrounded by farmland outside of Frederick, MD.
</p>

<p>Paul moved to Chicago in the winter of 1999-2000. He worked at
the <a href="http://www.cnt.org/">Center for Neighborhood
Technology</a>, starting off as an intern working one of CNT’s
websites, and from there became the systems administrator and
webmaster.
</p>

<p>Freelancing</p>

<p>EveryBlock</p>

<p>Baltimore</p>

{% endblock %}
