{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h1>About me</h1>

<p><b>I’m a software developer in Baltimore.</b></p> 

<p>I’m currently working
on <a href="http://everyblock.com/">EveryBlock</a>, which is a site
where you type in your address, and we show you news near that
address. I co-founded EveryBlock in 2007 in Chicago, and it was
acquired by msnbc.com in 2009. I
wrote <a href="http://www.alistapart.com/articles/takecontrolofyourmaps"
title="Take Control of Your Maps (A List Part No. 256)">an article about
our custom-made maps</a>.
</p>

<p>Before EveryBlock, I was a freelance web developer in Chicago. I
developed web applications
for <a href="http://www.chicagobusiness.com/">Crain’s Chicago
Business</a>, and designed and
developed <a href="http://chrishayes.org/">the personal website of
journalist Chris Hayes</a>.
</p>

<p>Prior to that, I worked at the <a href="http://cnt.org/">Center for
Neighborhood Technology</a>, a non-profit also in Chicago. I was
webmaster and systems administrator, and developed sites such as the
Civic Footprint, a site that let you look up who represented you
politically, down to the local level.

<p>While at CNT, I also helped conceive and direct the technology of a
community wireless networking project that aimed to pilot internet
access in low-income communities in Chicago and Illinois. As a
consequence of that effort, I found myself in the Gulf states of
Louisiana and Mississippi in the weeks following the landfall of
Hurricane Katrina. My colleague Rogers Wilson and I, along with a team
of volunteers from around the country, helped
to <a href="http://www.nytimes.com/2005/09/18/magazine/18idea.html">restore
communications for people displaced by the hurricane</a>.
</p>

<p>Throughout my time in Chicago, I was involved in helping a unique
rails-to-trails project, similar to NYC’s High Line. hoping to be the
Chicago equivalent. I
co-founded <a href="http://bloomingdaletrail.org/">Friends of the
Bloomingdale Trail</a> in 2003, an all-volunteer non-profit
organization dedicated to converting the unused elevated rail line on
the north side of Chicago running along Bloomingdale Avenue into a
multi-use greenspace and park. I was a board member until 2009,
resigning when I left Chicago for Baltimore. I continue to provide
occasional web and moral support. As of winter 2010-11, this project
is proceeding—the City of Chicago endorses it, is securing property
for parks and future access points, is dedicating planning resources,
and has selected a team for initial engineering.

<p>I intermittently attended <a href="http://smcm.edu/">St. Mary’s
College of Maryland</a>, where I studied physics and philosophy.
</p>

<p>I was fortunate to intern as a high school senior at (what was then
known as) the <a href="http://www-lmmb.ncifcrf.gov/~toms/">Laboratory
of Mathematical Biology</a>, part of the National Cancer Institute at
Ft. Detrick, Maryland, where I first was exposed to Unix systems, C
and Perl programming, information theory, the internet, and the World
Wide Web, in 1994-95. Long live NCSA Mosiac!
</p>

<p>I’m originally from Maryland, where I find myself again after 10
years in Chicago, with my wife Michelle Mills.</p>
{% endblock %}
