{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h1>About me</h1>

<article>
	<p class="lead">I’m a veteran software engineer and lifelong computer programmer living in Baltimore, MD.</p> 

	<p>I’m currently the <abbr title="Chief Technology Officer">CTO</abbr> of <a
	href="https://publicgoodsoftware.com/">Public Good Software</a>, a startup
	that I co-founded to make better software for civil society.
	</p>

	<p>I was the Deputy Director of Technology at the <a
	href="http://www.democrats.org/" title="The DNC">Democratic National
	Committee</a> from September 2011 through February 2013, during which time we
	reëlected the President and help Democrats win across the country.
	</p>

	<p>I co-founded <a href="http://everyblock.com/" title="Make your block a better
	place.">EveryBlock</a> in 2007. It was acquired by <a
	href="http://msnbc.com/">msnbc.com</a> in 2009, and I worked there until the
	fall of 2011. I wrote <a
	href="http://www.alistapart.com/articles/takecontrolofyourmaps" title="Take
	Control of Your Maps (A List Part No. 256)">an article about our custom-made
	maps</a>.
	</p>

	<p>Before EveryBlock, I was a freelance web developer in Chicago. I developed
	web applications for <a href="http://www.chicagobusiness.com/">Crain’s Chicago
	Business</a>, and designed and developed <a href="http://chrishayes.org/">the
	personal website of journalist Chris Hayes</a>.
	</p>

	<p>Prior to that, I worked at the <a href="http://cnt.org/">Center for
	Neighborhood Technology</a>, a non-profit also in Chicago. I was webmaster and
	systems administrator, and developed sites such as the Civic Footprint, a site
	that let you look up who represented you politically, down to the local level.

	<p>While at CNT, I also helped conceive and direct the technology of a community
	wireless networking project that aimed to pilot internet access in low-income
	communities in Chicago and Illinois. As a consequence of that effort, I found
	myself in the Gulf states of Louisiana and Mississippi in the weeks following
	the landfall of Hurricane Katrina. My colleague Rogers Wilson and I, along with
	a team of volunteers from around the country, helped to <a
	href="http://www.nytimes.com/2005/09/18/magazine/18idea.html">restore
	communications for people displaced by the hurricane</a>.
	</p>

	<p>Throughout my time in Chicago, I was involved in helping a unique
	rails-to-trails project, similar to NYC’s High Line, hoping to be the Chicago
	equivalent. I co-founded <a href="http://bloomingdaletrail.org/">Friends of the
	Bloomingdale Trail</a> in 2003, an all-volunteer non-profit organization
	dedicated to converting the unused elevated rail line on the north side of
	Chicago running along Bloomingdale Avenue into a multi-use greenspace and park.
	I was a board member until 2009, resigning when I left Chicago for Baltimore. I
	continue to provide occasional web and moral support. As of winter 2010-11, this
	project is proceeding—the City of Chicago endorses it, is securing property for
	parks and future access points, is dedicating planning resources, and has
	selected a team for initial engineering.
	</p>

	<p>I intermittently attended <a href="http://smcm.edu/">St. Mary’s
	College of Maryland</a>, where I studied physics and philosophy.
	</p>

	<p>I was fortunate to intern as a high school senior at (what was then
	known as) the <a href="http://www-lmmb.ncifcrf.gov/~toms/">Laboratory
	of Mathematical Biology</a>, part of the National Cancer Institute at
	Ft. Detrick, Maryland, where I first was exposed to Unix systems, C
	and Perl programming, information theory, the internet, and the World
	Wide Web, in 1994-95. Long live NCSA Mosiac!
	</p>

	<p>I’m originally from Maryland, where I find myself again after 10
	years in Chicago, with my wife Michelle Mills and our daughter.
	</p>
</article>
 
<h2>Talks</h2>
<ul>
	<li>
		<time datetime="2012-03-10" pubdate>March 10, 2012</time>
		<a href="http://lanyrd.com/2012/pycon/spchh/"> Spatial Data and Web Mapping with Python </a>
		<span class="where">(Given at PyCon 2012)</span>
	</li>
	<li>
		<time datetime="2011-02-17" pubdate>February 17, 2011</time>
		<a href="http://vimeo.com/20205955">Mapping with Location Data</a>
		<span class="where">(Given at Refresh Baltimore)</span>
	</li>
	<li>
		<time datetime="2009-05-04" pubdate>May 4, 2009</time>
		<a href="http://www.slideshare.net/pauladamsmith/the-web-map-stack-on-django">The Web map stack on Django</a>
		<span class="where">(Given at EuroDjangoCon ‘09)</span>
	</li>
</ul>

{% endblock %}
