{% extends "base.html" %}

{% block fulltitle %}Paul Smith{% endblock %}

{% block bodyattrs %} id=home{% endblock %}

{% block content %}
<div class="recent">
	<h2>Recent posts</h2>
	<div class="posts">
		{% for row in posts[:6]|batch(3) %}
		<div class="row">
			{% for post in row %}
			<div class="col-lg-4">
				<div class="thumb">
					<a href="{{ post.url }}" style="background-image: url({{ post.image }})">
						<p>{{ post.title }}</p>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>

<p><a href="/blog/" class="pull-right">Blog archive &rarr;</a></p>
{% endblock %}
