{% extends "base.html" %}

{% block fulltitle %}Paul Smith{% endblock %}

{% block content %}
  <ol>
    {% for post in posts %}
      <li>
	<time datetime="{{ post.pub_date.strftime('%Y-%m-%d') }}" pubdate>{{ post.pub_date.strftime('%B %d, %Y') }}</time>
	<a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ol>
  
  <h2>Me, elsewhere</h2>
  <ul>
    <li><a href="http://twitter.com/paulsmith" title="Follow me on Twitter">@paulsmith</a></li>
    <li><a href="http://www.flickr.com/photos/psmith" title="My photos">Flickr</a></li>
  </ul>
{% endblock %}
