<article class="post">
  <header>
    <h1><a href="{{ post.url }}" title="Permalink to this post">{{ post.title }}</a></h1>
    <time datetime="{{ post.pub_date.strftime('%Y-%m-%d') }}" pubdate>{{ post.pub_date.strftime('%B %d, %Y') }}</time>
  </header>
  {{ post.body }}
  {% if prev_post or next_post -%}
    <nav>
      {% if prev_post %}<div class="previous"><b>«</b> Previous: <a href="{{ prev_post.url }}">{{ prev_post.title }}</a></div>{% endif %}
      {% if next_post %}<div class="next">Next: <a href="{{ next_post.url }}">{{ next_post.title }}</a> <b>»</b></div>{% endif %}
    </nav>
  {% endif -%}
</article>
