<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name">
            <a href="{{ post.url }}" title="Permalink to this post" itemprop="url">
                {{ post.title }}
            </a>
        </h1>
    </header>

    <p class="meta">
        <time datetime="{{ post.pub_date.strftime('%Y-%m-%d') }}" pubdate itemprop="datePublished">
            {{ post.pub_date.strftime('%B %d, %Y') }}
        </time>
        <span class="byline">by <span itemprop="author">Paul Smith</span></span>
    </p>

    {% if post.image and not post.hide_post_image %}
    {% if post.image_url %}<a href="{{ post.image_url }}"{% if post.image_url_title %} title="{{ post.image_url_title }}"{% endif %}>{% endif %}
    <img src="{{ post.image }}" class="post-img"{% if post.image_alt %} alt="{{ post.image_alt }}"{% endif %}
        itemprop="image">
    {% if post.image_url %}</a>{% endif %}
    {% endif %}

    <div class="body" itemprop="articleBody">
        {{ post.body }}
    </div>
</article>

{% if prev_post or next_post -%}
<div class="recent-posts">
    <h4>Recent posts</h4>
    <ul>
        {% if prev_post %}<li class="previous"><a href="{{ prev_post.url }}">{{ prev_post.title }}</a></li>{% endif %}
        {% if next_post %}<li class="next"><a href="{{ next_post.url }}">{{ next_post.title }}</a></li>{% endif %}
    </ul>
</div>
{% endif -%}
