<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
    <meta charset="utf-8">
    <title>{% block fulltitle %}{% block title %}{% endblock %} - Paul Smith{% endblock %}</title>
    <meta name="description" content="{% block description %}Paul Smith, software engineer, programmer, EveryBlock co-founder{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather+Sans:regular,bold|Inconsolata|Merriweather:regular,bold,italic">
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/css/pas.css" rel="stylesheet" media="screen">
    <link rel="alternate" href="/atom.xml" type="application/atom+xml">
    <meta name="verify-v1" content="JGWpUVGeSZp407VK35oscFKsTMIEalzD8cTIBcScWNQ=">
	{% endblock %}
</head>
<body{% block bodyattrs %}{% endblock %}>
	<header class="masthead">
		<div class="navbar navbar-static-top">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<div class="inner">
					<ul class="nav navbar-nav">
						<li><a href="/about.html">About</a></li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/projects.html">Projects</a></li>
					</ul>
				</div>
			</div>
		</div>
		<h1><a href="/">Paul Smith</a></h1>
	</header>
	<div class="container">
		<div id="main">
			<div class="row">
				<div class="col-offset-2 col-lg-8">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-offset-2 col-lg-8">
					<div class="row">
						<div class="col-lg-8 about">
							<h4>About</h4>
							<p>Paul Smith is a veteran software engineer. <a href="/about.html">More …</a></p>
							<p class="copyright">
								This site created with Python. ⓒ  Paul Smith.<br>
								<em>Always wrong. Never in doubt.</em>
							</p>
						</div>
						<div class="col-lg-4 elsewhere">
							<h4>Elsewhere</h4>
							<ul class="list-unstyled">
								<li><a href="https://twitter.com/paulsmith">@paulsmith</a></li>
								<li><a href="http://www.flickr.com/photos/psmith" title="My photos">Flickr</a></li>
								<li><a href="http://tumblr.pauladamsmith.com/" title="My Tumblr">Link blog</a></li>
								<li><a href="https://plus.google.com/108005066160012350516?rel=author">Google +</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	</div>
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {# TODO: add local fallback #}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-304677-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</body>
</html>
{# vim:set shiftwidth=4 tabstop=4: #}
