<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
<link rel="alternate" href="{{ feed_url }}" type="rss/xml">
</head>
<body>
  <header>
    <h1><a href="/">Paul Smith</a></h1>

    <nav>
      <ul>
	<li><a href="/blog/">Blog</a></li>
	<li><a href="/articles/">Longer articles</a></li>
	<li><a href="/projects/">Projects</a></li>
      </ul>
    </nav>
  </header>

  <div id="main">
    {% block content %}{% endblock %}
  </div><!-- #main -->
  
  <footer>
    <div id="twitter"><a href="http://twitter.com/paulsmith" title="@paulsmith">Follow me, @paulsmith, on Twitter</a>, why not</div>
  </footer>
</body>
</html>
