{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block description -%}
{% if post.description -%}
	{{ post.description }}
{% else -%}
	{{ post.body | striptags | truncate }}
{% endif -%}
{% endblock -%}

{% block head %}
{{ super() }}
<meta property="og:title" content="{{ post.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="http://pauladamsmith.com{{ post.url }}">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@paulsmith">
<meta property="twitter:creator" content="@paulsmith">
<meta property="twitter:title" content="{{ post.title }}">
{% if post.description -%}
<meta property="twitter:description" content="{{ post.description }}">
{% else -%}
<meta property="twitter:description" content="{{ post.body | striptags | truncate }}">
{% endif -%}
{% if post.image -%}
<meta property="og:image" content="http://pauladamsmith.com{{ post.image }}">
<meta property="twitter:image:src" content="http://pauladamsmith.com{{ post.image }}">
{% endif %}
{% for key, value in post.meta -%}
<meta property="{{ key }}" content="{{ value }}">
{% endfor %}
{% endblock %}

{% block content %}
{% include "_post.html" %}
{% endblock %}
