{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
{{ super() }}
<meta property="og:title" content="{{ post.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="http://pauladamsmith.com{{ post.url }}">
{% if post.image -%}
<meta property="og:url" content="http://pauladamsmith.com{{ post.image }}">
{% endif %}
{% for key, value in post.meta -%}
<meta property="{{ key }}" content="{{ value }}">
{% endfor %}
{% endblock %}

{% block content %}
{% include "_post.html" %}
{% endblock %}
