{% extends "base.html" %}

{% block title %}Articles{% endblock %}

{% block content %}
<h1>Articles</h1>
<ol class="pub-list">
    <li>
      <time datetime="2010-10-18" pubdate>October 18, 2010</time>
      <a href="redis-under-the-hood.html" title="Redis: under the hood">Redis: under the hood</a>
    </li>
    <li>
      <time datetime="2008-04-08" pubdate>April 8, 2008</time>
      <a href="http://www.alistapart.com/articles/takecontrolofyourmaps">Take Control of Your Maps</a>
      (A List Apart No. 256)
    </li>
</ol>
{% endblock %}
